.feed-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: calc(100% - 4.2rem);
  background-color: white;
  z-index: 2; /* make sure it sits on top of the Map */
  padding: 1rem;
  /* margin: top right bottom left */
  margin: 3.2rem 0rem 1rem 0.65rem;
  border-radius: 30px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  /* Scroll bar */
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.feed-content {
  flex: 1 1 auto;
  overflow-y: auto;
}

.feed-user {
  margin-top: 1rem;
}

.feed-controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
