@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");
@import "feed.css";
@import "modal.css";
@import "new-modal.css";
@import "navbar.css";
@import "post.css";
@import "mobile.css";
@import "homepage.css";
@import "userpage.css";
@import "login-signup.css";

html,
body,
#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Cal Sans", sans-serif;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

main {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}

ul {
  list-style: none;
}

button {
  padding-inline: 0.25rem;
  cursor: pointer;
}

input,
label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

form {
  padding: 1rem;
  border: 1px solid #ccc;
  width: 15rem;
}

form > h2 {
  margin-bottom: 1rem;
}

.footer {
  text-align: center;
  padding: 1.5rem 1rem;
  background-color: #f9f9f9;
  color: #333;
  font-size: 0.9rem;
}

.footer p {
  margin: 0.5rem 0;
}

.contributors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.contributor {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.dot {
  margin: 0 0.5rem;
  color: #888;
}

.footer a {
  color: #0077cc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #004d99;
}
