/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");
/* Base styles */
@import "layout.css";
@import "utils.css";
/* Components */
@import "components/auth-overlay.css";
@import "components/button.css";
@import "components/feed.css";
@import "components/footer.css";
@import "components/form.css";
@import "components/image-container.css";
@import "components/modal.css";
@import "components/navbar.css";
@import "components/post.css";
@import "components/searchbar.css";
@import "components/upvote-comments.css";
@import "components/map-legend.css";
/* Pages */
@import "pages/homepage.css";
@import "pages/login-signup.css";
@import "pages/userpage.css";
/* Responsive */
@import "responsive.css";

/* Force light mode */
:root {
  color-scheme: light;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Cal Sans", sans-serif;
  /* border: 1px solid red; */
}

body {
  font-family: "Cal Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background: transparent;
}

ul {
  list-style: none;
}

button {
  /* padding-inline: 0.25rem; */
  cursor: pointer;
}

input,
label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

dialog[open] {
  z-index: 10000 !important;
}
