/*
Layout styles
Core layout elements and containers
*/

/* Main content area */
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}

/* Dim and blur homepage when modal open */
.disabled-blur {
  filter: blur(4px);
  pointer-events: none; /* disables interactions */
  user-select: none;
  opacity: 0.6;
}
