button {
  padding: 0.5rem 1.25rem;
  border-radius: 6px;
  border: none;
  background: #0077cc;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
}

button:hover,
button:focus {
  background: #004d99;
  color: #fff;
  outline: none;
}

button:active {
  background: #3498db;
  color: #fff;
}

button:disabled {
  background: #ccc;
  color: #666;
  cursor: not-allowed;
}

.add-icon {
  width: 2rem;
}

.edit-profile-icon {
  width: 1.5rem;
  margin-left: 0.5rem;
}

.edit-icon,
.delete-icon,
.add-icon,
.edit-profile-icon {
  height: auto;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #6c757d;
}

.edit-icon:hover,
.add-icon:hover,
.edit-profile-icon:hover {
  color: #3498db;
  transform: scale(1.1);
}

.delete-icon:hover {
  color: rgb(255, 0, 0);
}
